<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Добро пожаловать, {{ username }}!</title>
    </head>
    <body>
        <h1>Приветствуем на нашем сайте {{ username }}!</h1>
        <h3>Вы использовали для регистрации <a href="mailto:{{ email }}">{{ email }}</a>.</h3>
        <h3>Для завершения регистрации дождитесь письма с верификацией электронной почты<h3>
    </body>
</html>
