{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style type="text/css">
        *, ::before, ::after {
            box-sizing: border-box;
          }
    </style>
</head>
<body style="margin: 0; font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; line-height: 1.5;">
    <div style="padding-top: 3rem !important; 
    padding-bottom: 3rem !important; max-width: 1320px; margin-right: auto; margin-left: auto; padding-right: calc(1.5rem * 0.5);
    padding-left: calc(0rem * 0.5);">
        <div style="padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important; display: flex; justify-content: center !important; flex-wrap: wrap; margin-top: calc(-1 * 0rem); margin-right: calc(-0.5 * 1.5rem); margin-left: calc(-0.5 * 1.5rem);">
            <div style="flex: 0 0 auto; width: 83.33333333%; max-width: 100%; padding-right: calc(1.5rem * 0.5); padding-left: calc(1.5rem * 0.5); margin-top: 0rem;">
                <p style="font-size: 1.25rem !important; text-align: left !important; margin-top: 0; margin-bottom: 1rem; color: #0d6efd;">{{ title }}</p>
            </div>
        </div>
        <div style="padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important; display: flex; justify-content: center !important; flex-wrap: wrap; margin-top: calc(-1 * 0rem); margin-right: calc(-0.5 * 1.5rem); margin-left: calc(-0.5 * 1.5rem);">
            <div style="flex: 0 0 auto; width: 83.33333333%; max-width: 100%; padding-right: calc(1.5rem * 0.5); padding-left: calc(1.5rem * 0.5); margin-top: 0rem;">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Заголовок</th>
                            <th scope="col">Автор [Дата]</th>
                            <th scope="col">Содержимое</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oneNews in news %}
                        <tr>
                            <td><a href="http://127.0.0.1:8000/{{ oneNews.get_absolute_url }}">{{ oneNews.header|truncatechars:30|Censor }}</a></td>
                            <td>{{ oneNews.author }} [{{ oneNews.time|date:'d-m-Y H:i' }}]</td>
                            {% comment %} <td>{{ oneNews.text|truncatechars:50|Censor }}</td> {% endcomment %}
                            <td>{{ oneNews.text|truncatewords:16 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>