{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block title %}
Products
{% endblock title %}

{% block content %}
    <h1><span class="fas fa-hamburger"></span> Все продукты</h1>
    <hr>
    {% comment %} <h3>{{ time_now|date:'M d Y' }} {{ value1|default_if_none:'ничего' }} {{ value2.field1 }}</h3> {% endcomment %}
    {% comment %} {% if products %} {% endcomment %}
    {% if filter.qs %}
        <form class="row row-cols-auto my-2" method="GET">
            {{ filter.form }}
            <input class="btn btn-info btn-sm mx-1 my-auto" type="submit" value="Найти">
        </form>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
        {% comment %} {% for product in products %} {% endcomment %}
        {% for product in filter.qs %}
                <tr>
                    <td><a href="{% url 'fastfood:product_detail' product.id %}">
                        {{ product.name|multiply:1 }}</a>
                    </td>
                    {% comment %} <td>{{ product.name|multiply:1 }}</td> {% endcomment %}
                    <td>{{ product.description|truncatewords:4 }}</td>
                    <td>{{ product.get_type_display|safe }}</td>
                    <td>{{ product.price|floatformat:2 }} р.</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{% url 'fastfood:product_update' product.id %}">Редактировать</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'fastfood:product_delete' product.id %}">Удалить</a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        {% include 'fastfood/parts/paginator.html' %}
    {% else %}
        <h2>Продуктов нет!</h2>
    {% endif %}
    {% comment %}
    <form method="POST">
        {% csrf_token %}
        <label for="name" class="form-label">Название</label>
        <input name="name" id="name" type="text" class="form-control">
        <label for="price" class="form-label">Цена</label>
        <input name="price" id="price" class="form-control" min="0" type="number">
        <label for="description" class="form-label">Описание</label>
        <input name="description" class="form-control" id="description" type="text">
        <label for="select" class="form-label">Категория</label>
        <select name="type" id="select" class="form-select">
            <option selected>Выберите категорию</option>
            {% for type in choices %}
                <option value="{{ type.0 }}">{{ type.1 }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-success btn-sm" type="submit" value="Добавить">
    </form>
    {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success btn-sm mt-2 mb-4" type="submit" value="Добавить">
    </form>
{% endblock content %}
