{% extends 'default.html' %}
{% load allauth %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    {% if title == 'Новости' %}
        <h2><span class="fas fa-globe"></span> {{ title }}</h2>
    {% elif title == 'Поиск новостей' %}
        <h2><span class="fas fa-search"></span> {{ title }}</h2>
    {% endif %}
    <hr>
    <div class="row justify-content-center">
        <div class="col-6 my-auto">
            <p class="text-start fs-5 my-auto">Всего новостей: {% firstof paginator.count filter.qs|length "0" %}</p>
        </div>
        <div class="col-6 my-auto">
            <p class="text-end fs-5 my-auto">{% now 'd-m-Y H:i' %}</p>
        </div>
        {% if title == 'Новости' %}
            <div class="col-12 mt-auto mb-2">
                <form class="text-start fs-6 my-auto" method="POST" action="{% url "subscrybe_category" %}">
                    {% csrf_token %}
                    <input id="allNews" type="radio" {{ all_news_radio }}>
                    <label for="allNews"><a href={% url "news:news" %}>Все новости</a></label>&nbsp;|
                    {% for cat_id, cat_name in category_list %}
                        {% if current_category_id == cat_id %}
                            <input id="catChoise{{ cat_id }}" type="radio" name="cat" value="{{ cat_id }}" checked>
                        {% else %}
                            <input id="catChoise{{ cat_id }}" type="radio" name="cat" value="{{ cat_id }}" disabled>
                        {% endif %}
                        <label for="catChoise{{ cat_id }}"><a href="?cat={{ cat_id }}">{{ cat_name }}</a></label>&nbsp;|
                    {% endfor %}
                    {% if current_category_id and not user.is_authenticated %}
                        <span class="fs-6"><a href="{% url "account_login" %}">Войдите</a> для оформления подписки</span>
                    {% elif news and current_category_id and user.is_authenticated and not is_subscriber %}
                        <input class="btn btn-info btn-sm" type="submit" value="Подписаться">
                    {% elif current_category_id and user.is_authenticated and is_subscriber %}
                        <span class='text-success fs-6'>Вы уже подписаны</span>
                    {% endif %}
                </form>
        </div>
        {% endif %}
    </div>
    {% if not news and news_search %}
        <form class="row row-cols-auto my-2" method="GET">
            {% comment %} {{ filter.form }} {% endcomment %}
            {% for field in filter.form %}
                <label class="form-label my-auto" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field.errors }}{{ field }}
            {% endfor %}
            <input class="btn btn-info btn-sm mx-1 my-auto" type="submit" value="Найти">
        </form>
    {% endif %}
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Заголовок</th>
                <th scope="col">Дата</th>
                <th scope="col">Содержимое</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% if news %}
            {% for oneNews in news %}
                {% include 'news/parts/news_tbody.html' %}
            {% endfor %}
        {% elif news_search %}
            {% for oneNews in news_search %}
                {% include 'news/parts/news_tbody.html' %}
            {% endfor %}
        {% endif %}
        {% if not news_search and not news %}
            <tr>
                <td colspan="4"><p class="fs-5 my-auto">Новостей нет</p></td>
            </tr>
        {% endif %}
            </tbody>
        </table>
        <div class="row justify-content-center pb-5">
            <div class="col-6 my-auto">
                {% if news or news_search%}
                    {% include 'news/parts/paginator.html' %}
                {% endif %}
            </div>
            <div class="col-6 my-auto text-end">
                <a class="btn btn-success btn-sm" href="{% url 'news:news_add' %}">
                    Добавить <span class="fas fa-plus"></span>
                </a>
            </div>
        </div>
{% endblock content %}
