{% extends 'default.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <h3>{{ title }}</h3>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {% if field.label == 'type' %}
                    {{ field }}
                {% else %}
                <label class="form-label my-auto" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field.errors }}{{ field }}
                {% endif %}
            </div>
            {% endfor %}
        <div class="text-end">
            <button class="btn btn-success btn-sm" type="submit">Сохранить <span class="far fa-edit"></span></button>
        </div>
    </form>

{% endblock content %}