DEBUG=True
ALLOWED_HOSTS='127.0.0.1;localhost'
SECRET_KEY='django-insecure-**************************************************'
EMAIL_HOST='smtp.yandex.ru'
# имя пользователя, если без домена указать домен в EMAIL_DOMAIN
EMAIL_HOST_USER=
# пароль
EMAIL_HOST_PASSWORD=
ADMINS='admin,admin1@example.com_admin2,admin2@example.com'
MANAGERS='manager,managers@example.com'
SERVER_EMAIL='webserver@example.com'
# указать @домен, если имя без домена или оставить # в начале строки.
# EMAIL_DOMAIN=
