{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
newsDetail.header
{% endblock title %}

{% block content %}
<div class="row justify-content-center py-2">
    <div class="col-10">
        <h2 class="text-center">{{ newsDetail.header|Censor }}</h2>
    </div>
</div>
<div class="row justify-content-center py-2">
    <!-- <div class="col-5"><p class="text-start my-1">{{ newsDetail.author.user.username }}</p></div> -->
    <!-- <div class="col-5"><p class="text-start my-1">{{ newsDetail.author }}</p></div> -->
    <div class="col-5"><p class="text-start my-1">{{ full_name }}</p></div>
    <!-- <div class="col-5"><p class="text-end my-1">{{ newsDetail.time|date:'d.m.Y' }}</p></div> -->
    <div class="col-5"><p class="text-end my-1">{{ newsDetail.time|date:'d-m-Y H:i' }}</p></div>
</div>
<div class="row justify-content-center py-2">
    <div class="col-10"><p class="lead" style="text-indent: 1em; text-align: justify;">{{ newsDetail.text|Censor }}</p></div>
</div>
{% endblock content %}
