{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <h1><span class="fas fa-globe"></span> {{ title }}</h1>
    <hr>
    <div class="row justify-content-center py-2">
        <div class="col-6 my-1"><p class="text-start fs-5">Всего статей: {{ news|length }}</p></div>
        <div class="col-6 my-1"><p class="text-end fs-5">{{ time_now|date:'d.m.Y D H:i:s' }}</p></div>
    </div>
    {% if news %}
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Содержимое</th>
                </tr>
            </thead>
            <tbody>
        {% for oneNews in news %}
                <tr>
                    <td><a href="{{ oneNews.id }}">{{ oneNews.header|Censor }}</a></td>
                    <!-- <td>{{ oneNews.time|date:'d-m-Y H:i' }}</td> -->
                    <td>{{ oneNews.time|date:'d.m.Y' }}</td>
                    <td>{{ oneNews.text|truncatechars:50|Censor }}</td>
                    <!-- <td>{{ oneNews.text|truncatewords:20 }}</td> -->
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
