{% extends "default.html" %}
{% load allauth %}
{% block title %}Проверте адрес электронной почты{% endblock title %}
{% block content %}
<div class="row justify-content-center"> 
    <div class="col-6">
        <h2 class="col-12 text-start mb-3">Проверте адрес электронной почты</h3>
        <p class="col-12">Мы отправили вам электронное письмо для проверки.</p>
        <p class="col-12">Перейдите по полученной в письме ссылке, чтобы завершить процесс регистрации.</p>
        <p class="col-12">Если вы не видите письмо с подтверждением в основном почтовом ящике, проверьте папку со спамом.</p>
        <p class="col-12">Пожалуйста, свяжитесь с нами, если вы не получили электронное письмо с подтверждением в течение нескольких минут.</p>
    </div>
</div>
{% endblock content %}
